{#
/**
 * @file
 * Theme override for an 'input' #type form element for the search field.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{#
The default output was very simple:
  <input{{ attributes }} />{{ children }}

This customized output uses both an SVG icon and a label.
#}

{% import '@collective_theme/icons/_icons-macro.twig' as icons %}

<button class="search__submit" type="submit" name="{{ field_submit_name|default('submit') }}">
  <span class="search__submit-icon">
    {{ icons.get('icon-search') }}
  </span>
  <span class="search__submit-text">
    {{ attributes.value|default('Submit'|t) }}
  </span>
</button>
