<div class="layout-container color-preview">
  <header role="banner">
    <div class="region region-header-top">
      <div class="user-account-nav color-preview-top-menu">
        <ul class="menu list-unstyled">
          <li class="menu-item">
            <a class="" href="#">Contact Us</a>
          </li>
          <li class="menu-item">
            <a class="" href="#">My Account</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="region site-header-middle l-flex">
      <div class="l-container">
        <div class="site-branding">
          <img src="../../../themes/custom/collective_theme/logo.svg" alt="Site Logo">
          <div class="site-name">
            <a href="" rel="home" title="Home"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="region region-header-bottom">
      <section class="main-menu__container">
        <div class="main-menu__navicon">
          <button class="navicon"><span class="navicon__bar"></span> <span class="navicon__bar"></span> <span class="navicon__bar"></span></button> <span class="navicon__text element-invisible">Menu</span>
        </div>
        <nav aria-label="Main menu" class="main-menu color-preview-main-menu" id="a11y-menu" role="navigation">
          <ul class="nav menu list-reset" role="menu">
            <li class="menu-item" role="menuitem">
              <a href="#">Menu Item 1</a>
            </li>
            <li class="menu-item" role="menuitem">
              <a href="#">Menu Item 2</a>
            </li>
            <li class="menu-item" role="menuitem">
              <a href="#">Menu Item 3</a>
            </li>
          </ul>
        </nav>
      </section>
      <nav aria-labelledby="system-breadcrumb" class="breadcrumb__container" role="navigation">
        <h2 class="visually-hidden" id="system-breadcrumb">Breadcrumb</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb__item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb__item">
            <a href="#">Parent Page</a>
          </li>
          <li class="breadcrumb__item"><span class="breadcrumb__current">Current Page</span></li>
        </ol>
      </nav>
    </div>
  </header>
  <main role="main">
    <div class="layout-content">
      <div class="region-content color-preview-content">
        <p> Salutantibus vitae elit libero, a pharetra augue. Quisque ut dolor gravida, placerat libero vel, euismod. Contra legem facit qui id facit quod lex prohibet. Inmensae subtilitatis, obscuris et malesuada fames. </p>
      </div>
    </div>
    <div class="site-footer footer color-preview-footer">
      <div class="site-footer__inner">
        <div class="site-footer__logo">
          <div class="site-branding">
            <img src="../../../themes/custom/collective_theme/logo.svg" alt="Site Logo">
          </div>
        </div>
        <div class="site-footer__text">
          <div class="body-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
      </div>
      <div class="site-footer__addendum color-preview-footer-bottom">
        <div class="site-footer__inner">
          © Collective Directory
        </div>
      </div>
    </div>
  </main>
</div>