// Import site utilities.
@import '../../global/utils/init';

// Overrides for the Card Carousel.
// See @rain_theme/card-carousel for full component.

.card-carousel__slick {

  .card {
    background-color: transparent;
  }

  .slick-prev,
  .slick-next {
    &::before {
      color: $color-tacao;
      font-size: 3rem;
    }
  }
}

// Override expand icon colors to match theme.
.card-carousel-item__expand {
  background-color: transparent;

  ellipse {
    fill: $color-wedgewood;
    stroke: $color-wedgewood;
  }
}
