// Import site utilities.
@import '../../global/utils/init';

.card {
  @include layout-content;
  background-color: $color-alabaster;
}

// Styles for Wide variation of Card
.card--wide {
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-xsm) {
    flex-direction: row;
  }

  .card__media {
    flex: 1;
  }

  .card__content {
    flex: 1;

    @include breakpoint($bp-xsm) {
      margin: 0 0 0 1.5rem;
    }
  }

  .card__eyebrow {
    margin-top: 0;
  }
}

@include breakpoint($bp-xsm) {
  .card--media-right {
    flex-direction: row-reverse;

    .card__content {
      margin: 0 1.5rem 0 0;
    }
  }
}
