{{ attach_library('collective_theme/pager') }}
{% import '@collective_theme/icons/_icons-macro.twig' as icons %}

{% if items %}
  <nav class="pager" role="navigation" aria-labelledby="{{ heading_id }}">
    <h4 id="{{ heading_id|clean_class }}" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="pager__items js-pager__items">

      {% if items.previous %}
        <li class="pager__item pager__item--previous">
          <a class="pager__control" href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel', 'class') }}>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <span aria-hidden="true">{{ icons.get('icon-pager-prev') }}</span>
          </a>
        </li>
      {% endif %}

      {# Now generate the actual pager piece. #}
      {% block pager_items %}
        {% for key, item in items.pages %}
          <li class="pager__item{{ current == loop.index ? ' is-active' : '' }}">
            {% if current == loop.index %}
              {% set title = 'Current page'|t %}
            {% else %}
              {% set title = 'Go to page @key'|t({'@key': key}) %}
            {% endif %}
            <a href="{{ item.href }}" title="{{ title }}" class="pager__control {{ item.attributes.class }}"{{ item.attributes|without('href', 'title', 'class') }}>
              <span class="visually-hidden">
                {{ current == loop.index ? 'Current page'|t : 'Page'|t }}
              </span>
              {{- key -}}
            </a>
          </li>
        {% endfor %}
      {% endblock %}

      {% if items.next %}
        <li class="pager__item pager__item--next">
          <a class="pager__control" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel', 'class') }}>
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            <span aria-hidden="true">{{ icons.get('icon-pager-next') }}</span>
          </a>
        </li>
      {% endif %}

    </ul>
  </nav>
{% endif %}