{{ attach_library('collective_theme/related-events') }}

{%
  set classes = [
    'related-events'
  ]
%}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<div {{ attributes|raw }}>

  {%
    include '@collective_theme/heading/heading.twig' with {
      heading: {
        title: title,
        heading_level: heading_level|default('3'),
        attributes: title_attributes,
      }
    }
  %}

  {% for item in items %}
    {%
      include '@collective_theme/event-card/event-card.twig' with {
        title: item.title,
        link: item.url,
        start_date: {
          day: item.start_date.day,
          month: item.start_date.month,
          year: item.start_date.year
        },
        end_date: {
          day: item.end_date.day,
          month: item.end_date.month,
          year: item.end_date.year
        }
      } only
    %}
  {% endfor %}
</div>
