// Styling for Organization Contact

// Import site utilities.
@import '../../global/utils/init';

.organization-contact {
  margin: 30px auto;

  .heading {
    font-size: 2rem;
  }
}

.organization-contact__info-label {
  color: $color-gray-dk;
}

.organization-contact__info-value {
  font-weight: bold;
  margin-bottom: 10px;
}

.organization-contact__social {
  margin: 15px 0;
}
