{{ attach_library('collective_theme/organization-contact') }}

{%
  set classes = [
    'organization-contact',
    'l-3x'
  ]
%}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<section {{ attributes|raw }}>
  {%
    include '@collective_theme/heading/heading.twig' with {
      heading: {
        title: title,
        heading_level: heading_level|default('2'),
        attributes: title_attributes,
      }
    }
  %}

  <div class="l-container">
    {% if image %}
      <div class="organization-contact__image">
        {{ image }}
      </div>
    {% endif %}
    <div class="organization-contact__info">
      <div class="organization-contact__info-label">Address</div>
      <div class="organization-contact__info-value">{{ address }}</div>
      <div class="organization-contact__info-label">Hours</div>
      <div class="organization-contact__info-value">{{ hours }}</div>
      <div class="organization-contact__info-label">Contact</div>
      <div class="organization-contact__info-value">
        {% if contact_name %} {{ contact_name }} {% endif %}
        {% if contact_phone %} {{ contact_phone }} {% endif %}
        {% if contact_email %} {{ contact_email }} {% endif %}
      </div>
      <div class="organization-contact__info-label">Website</div>
      <div class="organization-contact__info-value">{{ website }}</div>
    </div>
    <div class="organization-contact__map">
      {{ map }}
    </div>
  </div>
  <div class="organization-contact__social">
    {% if social %}
      {%
        include '@collective_theme/social-icons/social-icons.twig' with
          {
            items: social
          }
      %}
    {% endif %}
  </div>
</section>
