{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - children: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}
<{{ wrapper_element }} {{ attributes }}>
  {%
    include '@collective_theme/event-details/event-details.twig' with {
      title: title,
      summary: element.body,
      register_button: {
        url: element.field_link[0]['#url'],
        text: "Register for this event",
        modifier: "button--secondary"
      },
      location: element.field_address,
    } only
  %}
</{{ wrapper_element }}>