{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - children: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}
{%
  set social = [
    {
      title: 'facebook',
      url: element.field_social_facebook.0['#url']
    },
    {
      title: 'twitter',
      url: element.field_social_twitter.0['#url']
    },
    {
      title: 'instagram',
      url: element.field_social_instagram.0['#url']
    }
  ]
%}

<{{ wrapper_element }} {{ attributes }}>
  {%
    include '@collective_theme/organization-contact/organization-contact.twig' with {
      title: title,
      image: element.field_thumbnail,
      map: element.field_address,
      address: full_address,
      contact_name: field_contact_name.value,
      hours: element.field_public_hours,
      website: element.field_website,
      social: social
    } only
  %}
</{{ wrapper_element }}>