{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - children: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}

{%
  set access = {
    subheading: element.group_access['#title'],
    fields: access
  }
%}

{%
  set management = {
    subheading: element.group_management['#title'],
    fields: management
  }
%}

{% set access_and_management = [access, management] %}

<{{ wrapper_element }} {{ attributes }}>
  {%
    include '@collective_theme/organization-information/organization-information.twig' with {
      group_heading: {
        title: title
      },
      group_sections: access_and_management
    } only
  %}
</{{ wrapper_element }}>