{#
/**
 * @file
 * Theme override for the "teaser" view mode of an Article content.
 */
#}
{%
  include '@collective_theme/news-teaser/news-teaser.twig' with {
    title: label,
    summary: content.field_summary,
    link: url,
    image: content.field_thumbnail,
    authored_date: node.getCreatedTime|format_date('card_date')
  } only
%}
