{#
/**
 * @file
 * Theme override for the "teaser" view mode of an Organization content.
 */
#}
{%
  include '@collective_theme/organization-teaser/organization-teaser.twig' with {
    title: label,
    summary: content.field_summary,
    link: url,
    image: content.field_thumbnail,
    organization_type: content.field_organization_type,
    contact_info: {
      name: content.field_contact_name,
      address: content.field_address,
      phone: content.field_contact_phone,
      email: content.field_contact_email,
      website: content.field_website
    }
  } only
%}
