{#
/**
 * @file
 * Theme override for the "Teaser" view mode of an Event content type.
 */
#}
{%
  include '@collective_theme/event-teaser/event-teaser.twig' with {
    title: label,
    summary: content.field_summary,
    link: url,
    image: content.field_thumbnail,
    start_date: {
      day: start_date.day,
      month: start_date.month,
      year: start_date.year,
      time: start_date.time,
    },
    end_date: {
      day: end_date.day,
      month: end_date.month,
      year: end_date.year,
      time: end_date.time,
    }
  } only
%}
