{#
This file matches output from Drupal, with some additions for the submit button.
#}

{{ attach_library('collective_theme/search-box') }}
{% import '@collective_theme/icons/_icons-macro.twig' as icons %}

<div class="search-api-page-block-form-search-results search-form search-block-form container-inline contextual-region block block-search-api-page block-search-api-page-form-block" data-drupal-selector="search-api-page-block-form-search-results" id="block-searchapipagesearchblockform">
  {% block content %}
    <form id="search-api-page-block-form-search-results">
      <div class="js-form-item form-item js-form-type-search form-type-search js-form-item-keys form-item-keys">
        <label for="{{ field_id|default('search') }}">{{ field_placeholder|default('Keyword Search'|t) }}</label>
        <input title="{{ 'Enter the terms you wish to search for.'|t }}" placeholder="{{ placeholder_text|default('Search Site') }}" data-drupal-selector="{{ field_id|default('search') }}" type="search" id="{{ field_id|default('search') }}" name="{{ field_name|default('Search'|t) }}" value="{{ query }}" size="60" maxlength="128" class="form-search" />
      </div>
      <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
        <button class="search__submit" type="submit" name="{{ field_submit_name|default('submit') }}">
          <span class="search__submit-icon">
            {{ icons.get('icon-search') }}
          </span>
          <span class="search__submit-text">
            {{ field_submit_text|default('Submit'|t) }}
          </span>
        </button>
      </div>
    </form>
  {% endblock %}
</div>
