<div id="block-collectiveorganizationtopics" class="block-facet--links block block-facets block-facet-blockcollective-organization-topics">
  <h2>Topic(s)</h2>
  <div class="facets-widget-links">
    <ul data-drupal-facet-id="collective_organization_topics" data-drupal-facet-alias="topics" class="js-facets-links item-list__links js-facets-widget">
      <li class="facet-item">
        <a href="/directory?q=Lorem&amp;f%5B0%5D=topics%3A1" rel="nofollow" data-drupal-facet-item-id="topics-1" data-drupal-facet-item-value="1">
          <span class="facet-item__value">Topic 1</span>
        </a>
      </li>
    </ul>
  </div>
</div>
