{{ attach_library('collective_theme/event-card') }}
{% import '@collective_theme/icons/_icons-macro.twig' as icons %}

{%
  set classes = [
    'event-card'
  ]
%}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<div {{ attributes|raw }}>
  <div class="event-card__dates">
    {%
      include '@collective_theme/event-date-tiles/event-date-tiles.twig' with {
        start_date: {
          day: start_date.day,
          month: start_date.month,
          year: start_date.year,
          time: start_date.time,
        },
        end_date: {
          day: end_date.day,
          month: end_date.month,
          year: end_date.year,
          time: end_date.time,
        }
      } only
    %}

    <div class="event-card__item">
      <a class="event-card__title" href="{{ link }}">
        {%
          include '@collective_theme/heading/heading.twig' with {
            heading: {
              title: title,
              heading_level: heading_level|default('3'),
              attributes: title_attributes,
            }
          }
        %}
      </a>
      {% if start_date.time %}
        <div class="event-card__times">
          <span> When: </span> {{ start_date.time }} {% if end_date.time != start_date.time %} - {{ end_date.time }} {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

    {% if summary  %}
      <div class="event-card__item event-card__summary">
        {{ summary|raw }}
      </div>
       <a class="event-card__link" href="{{ link }}"> Read more {{ icons.get('icon-chevron') }}</a>
    {% endif %}
</div>
