{{ attach_library('collective_theme/main-menu') }}

{%
  set classes = [
    'block',
    'block-menu',
    'navigation',
    'menu--' ~ derivative_plugin_id|clean_class,
    'main-menu'
  ]
%}

{% set heading_id = attributes.id ~ '-menu'|clean_id %}

<section class="main-menu__container">
  <div class="main-menu__navicon">
    <button class="navicon">
      <span class="navicon__bar"></span>
      <span class="navicon__bar"></span>
      <span class="navicon__bar"></span>
    </button>
    <span class="navicon__text element-invisible">{{ 'Menu'|t }}</span>
  </div>

  <nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
    {# Label. If not displayed, we still provide it for screen readers. #}
    {% if not configuration.label_display %}
      {% set title_attributes = title_attributes.addClass('visually-hidden') %}
    {% endif %}
    {{ title_prefix }}
    <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
    {{ title_suffix }}

    {# Menu. #}
    {% block content %}
      {{ content }}
    {% endblock %}
  </nav>
<section>