// Styling for Organization Information

// Import site utilities.
@import '../../global/utils/init';

.organization-info {
  margin: 30px auto;
}

// Override default 2x margin.
.l-container {
  > .organization-info__group-section:not(:last-child)  {
    @include breakpoint($bp-under-sm) {
      margin-bottom: 50px;
    }
  }
}

.organization-info__group-heading {
  font-size: 2rem;
}

.organization-info__group-subheading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-gray-dk;
  padding-bottom: 10px;

  .heading {
    margin: 0;
  }
}

.organization-info__field-label {
  color: $color-gray-dk;
  font-weight: bold;
}

.organization-info__field-value {
  margin-bottom: 10px;
}

// Accordion toggle on mobile only.
.organization-info__fields {
  margin-top: 15px;
  display: none;

  @include breakpoint($bp-sm) {
    // Override jQuery toggle class that sets display 'none' inline.
    display: block !important; //sass-lint:disable-line no-important
  }
}

.organization-info__toggle-icon {
  border: 0;
  background: none;
  margin-left: 15px;

  svg {
    width: 24px;
    height: 12px;
    transition: transform $transition;
  }

  &.closed {
    svg {
      transform: rotate(90deg);
    }
  }

  &.open {
    svg {
      transform: rotate(-90deg);
    }
  }

  @include breakpoint($bp-sm) {
    display: none;
  }
}
