{{ attach_library('collective_theme/site-logo') }}

<div class="site-branding">
  <a href="{{ link }}" class="site-logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.51 79.17" width="73.51" height="79.17"><defs><style>.cls-1{fill:#939598;}</style></defs><title>Collective Directory</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect x="16.3" width="26.47" height="79.17"/><circle class="cls-1" cx="53.89" cy="25.78" r="18.82"/><rect x="49.23" y="54.88" width="24.28" height="24.28"/><rect class="cls-1" y="37.59" width="24.95" height="7.65"/><rect class="cls-1" y="48.56" width="24.95" height="7.65"/><rect class="cls-1" y="59.54" width="24.95" height="7.65"/></g></g></svg>
  </a>

  <div class="site-name">
    <a href="{{ link }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  </div>
</div>
