{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<header role="banner">
  <div class="region site-header-top">
    {%
      include '@collective_theme/user-account-nav/user-account-nav.twig' with {
        links: user_account_nav.links
      } only
    %}
  </div>
  <div class="region site-header-middle l-flex">
    <div class="l-container">
      {%
        include '@collective_theme/site-branding/site-branding.twig' with {
          links: site_branding.link
        } only
      %}
    </div>
  </div>
  <div class="region site-header-bottom">
    {%
      include '@collective_theme/main-menu/main-menu.twig' with {
        items: main_menu.items
      } only
    %}
    {%
      include '@collective_theme/breadcrumb/breadcrumb.twig' with {
        breadcrumb: breadcrumb
      } only
    %}
  </div>
</header>
