// Styling for Card List.

// Import site utilities.
@import '../../global/utils/init';

.card-list__wrapper {
  max-width: 90%;
  width: auto;
  margin: 0 auto 80px;

  @include breakpoint($bp-xl) {
    max-width: 1300px;
  }

  // For views that are embedded.
  .collective-news &,
  .collective-events & {
    .view-content {
      display: flex;
    }

    .card-list__cards,
    .view-content {
      @include breakpoint($bp-under-sm) {
        flex-direction: column;
      }

      .card-list__card,
      .views-row {
        flex-basis: 100%;
        max-width: 100%;

        @include breakpoint($bp-sm) {
          flex-basis: 50%;
          max-width: 50%;
          margin-right: 50px;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .card-list__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    h3 {
      font-size: 2rem;
    }
  }

  .card-list__link {
    align-self: flex-end;
    border-bottom: 1px solid $color-wedgewood;
    padding: 5px 0;

    a {
      color: $color-wedgewood;
      text-decoration: none;
    }

    svg path {
      fill: $color-wedgewood;
    }
  }
}

// Color overrides for the Events view.
.collective-events {
  background-color: $color-wedgewood;
  color: $color-white;


  a {
    color: $color-white;
    text-decoration: none;
  }

  .card-list__wrapper {
    padding: 80px 0;
  }

  .card-list__link {
    border-bottom: 1px solid $color-white;

    a {
      color: $color-white;
    }

    svg path {
      fill: $color-white;
    }
  }

  .event-card__link,
  .event-teaser__link {
    border-bottom: 1px solid $color-white;

    svg path {
      fill: $color-white;
    }
  }
}
