{{ attach_library('collective_theme/card-list') }}
{% import '@collective_theme/icons/_icons-macro.twig' as icons %}

{%
  set classes = [
    'card-list',
    modifier
  ]
%}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<div {{ attributes|raw }}>
  <div class="card-list__wrapper">
    <div class="card-list__header">
      {%
        include '@collective_theme/heading/heading.twig' with {
          heading: {
            title: title,
            heading_level: heading_level|default('3'),
            attributes: title_attributes,
          }
        }
      %}
      {% if link|render|trim is not empty %}
        <div class="card-list__link">
          {{ link }} {{ icons.get('icon-chevron') }}
        </div>
      {% endif %}
    </div>
    {% if cards is not empty %}
      <div class="card-list__cards">
        {{ cards }}
      </div>
    {% endif %}
  </div>
</div>
