{{ attach_library('collective_theme/news-teaser') }}
{% import '@collective_theme/icons/_icons-macro.twig' as icons %}

{%
  set classes = [
    'news-teaser'
  ]
%}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<div {{ attributes|raw }}>
  {% if image  %}
    <div class="news-teaser__image">
      {{ image }}
    </div>
  {% endif %}
  <div class="news-teaser__content">
    <a class="news-teaser__title" href="{{ link }}">
      {%
        include '@collective_theme/heading/heading.twig' with {
          heading: {
            title: title,
            heading_level: heading_level|default('3'),
            attributes: title_attributes,
          }
        }
      %}
    </a>
    <div class="news-teaser__date">
      {{ authored_date }}
    </div>
    {% if summary  %}
      <div class="news-teaser__summary">
        {{ summary|raw }}
      </div>
    {% endif %}
    {% if link %}
      <a class="news-teaser__link" href="{{ link }}"> Read more {{ icons.get('icon-chevron') }}</a>
    {% endif %}
  </div>
</div>
