// Styling for Event Details.

// Import site utilities.
@import '../../global/utils/init';

.event-details {

  .l-container {

    .event-details__left {
      flex-basis: 70%;
    }

    .event-details__right {
      flex-basis: 30%;

      > * {
        margin-bottom: 15px;
      }
    }
  }
}

.event-details__address-label {
  font-weight: bold;
}

// Spacing for hero on Event Details page.
.page-node-type-event {
  .hero {
    padding: 30px 0;
  }
}
