// Styling for Tags.

// Import site utilities.
@import '../../global/utils/init';

.tags {
  @include layout-content;
}

.tags__container {
  display: flex;
  flex-wrap: wrap;

  .tag {
    background: $color-wedgewood;
    color: $color-white;
    margin: 5px;
    padding: 5px;
    text-decoration: none;

    &:hover {
      background: $color-tacao;
      color: $color-mine-shaft;
    }
  }
}
