{{ attach_library('collective_theme/news-card') }}
{% import '@collective_theme/icons/_icons-macro.twig' as icons %}

{%
  set classes = [
    'news-card'
  ]
%}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<div {{ attributes|raw }}>
  {% if image  %}
    <div class="news-card__image">
      {{ image }}
    </div>
  {% endif %}
  <a class="news-card__title" href="{{ link }}">
    {%
      include '@collective_theme/heading/heading.twig' with {
        heading: {
          title: title,
          heading_level: heading_level|default('3'),
          attributes: title_attributes,
        }
      }
    %}
  </a>
  <div class="news-card__date">
    {{ authored_date }}
  </div>
  {% if summary  %}
    <div class="news-card__summary">
      {{ summary|raw }}
    </div>
    <a class="news-card__link" href="{{ link }}"> Read more {{ icons.get('icon-chevron') }}</a>
  {% endif %}
</div>
