// Styling for Event Teaser.

// Import site utilities.
@import '../../global/utils/init';

.event-teaser {
  @include layout-content;
  display: flex;
  margin-bottom: 30px;

  @include breakpoint($bp-under-sm) {
    flex-direction: column;
  }
}

.event-teaser__info {
  display: flex;
  flex-wrap: wrap;
}

.event-teaser__image {
  margin-bottom: 15px;
  flex-basis: 33%;

  @include breakpoint($bp-sm) {
    margin-right: 15px;
    margin-bottom: 0;
  }

  img {
    width: 100%;
  }
}

.event-teaser__content {
  flex: 1;
}

.event-teaser__title {
  text-decoration: none;
}

.event-teaser__link {
  text-decoration: none;
}

.event-teaser__summary {
  margin-bottom: 15px;
}

.event-teaser__times {
  margin-bottom: 15px;
}

.event-teaser__dates {
  display: flex;
  margin-bottom: 15px;

  @include breakpoint($bp-sm) {
    align-items: flex-start;
    align-self: flex-start;
    margin-right: 15px;
  }
}

.event-teaser__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  background-color: $color-white;
  border: 1px solid $color-gray-mid;
  color: $color-mine-shaft;
  margin-right: 15px;
}

.event-teaser__date-month {
  background-color: $color-tacao;
  color: $color-mine-shaft;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.event-teaser__date-day {
  font-size: 1.25rem;
  margin: 5px 15px;
}

.event-teaser__date-year {
  margin: 0 15px 5px;
}

.event-teaser__date-separator {
  display: flex;
  align-self: center;
  margin-right: 15px;
}
