{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{%
  include '@collective_theme/directory-search/directory-search.twig' with {
    heading: {
      title: "Member Directory Search",
    },
    content: form,
    query: query,
    placeholder_text: "Search Directory"
  } only
%}