{{ attach_library('collective_theme/directory-search') }}

{%
  set classes = [
    'directory-search'
  ]
%}

{% set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"' %}

<article {{ attributes|raw }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="directory-search__content">
    <div class="directory-search__heading">
      {%
        include '@collective_theme/heading/heading.twig' with {
          heading: {
            title: heading.title,
            heading_level: heading.heading_level|default('3')
          }
        }
      %}
    </div>
    <div class="directory-search__search-box">
      {% include '@collective_theme/search-box/search-box.twig' with {
          content: content,
          query: query,
          placeholder_text: placeholder_text
        }
      %}
    </div>
  </div>

</article>